In [1]:
import pandas as pd

### 1.Write a python program to convert list to series.

In [3]:
l = [10,20,30,40,50]
s = pd.Series(l)
print("List : ",l)
print("Series : ")
print(s)

List :  [10, 20, 30, 40, 50]
Series :
0    10
1    20
2    30
3    40
4    50
dtype: int64

### Write a python program to generate series of dates from 1 August 2024 to 15 August 2024.

In [9]:
start = "2024-08-01"
end = "2024-08-15"
dates = pd.date_range(start,end)
print(dates)
dates_series = pd.Series(dates)
print(dates_series)

DatetimeIndex(['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04',
               '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08',
               '2024-08-09', '2024-08-10', '2024-08-11', '2024-08-12',
               '2024-08-13', '2024-08-14', '2024-08-15'],
              dtype='datetime64[ns]', freq='D')
0    2024-08-01
1    2024-08-02
2    2024-08-03
3    2024-08-04
4    2024-08-05
5    2024-08-06
6    2024-08-07
7    2024-08-08
8    2024-08-09
9    2024-08-10
10   2024-08-11
11   2024-08-12
12   2024-08-13
13   2024-08-14
14   2024-08-15
dtype: datetime64[ns]

### 3. Write a program to convert a dictionary to DataFrame and display it

In [11]:
dict = {
    "Age":[12,14,16,18,20],
    "Height":[120,135,146,156,160],
    "Weight":[34,36,41,45,50]
}
df = pd.DataFrame(dict)
print(df)

   Age  Height  Weight
0   12     120      34
1   14     135      36
2   16     146      41
3   18     156      45
4   20     160      50

### 4. Write a program to create a 2D list and covert it into DataFrame and display it.

In [12]:
data = [
    ["Eddy",12,120],
    ["Flora",16,146],
    ["Frank",20,160]
]
col_names = ["Name","Age","Height"]
df = pd.DataFrame(data,columns=col_names)
print(df)

    Name  Age  Height
0   Eddy   12     120
1  Flora   16     146
2  Frank   20     160